
@{
    ViewData["Title"] = "AddPlan";
}

@model AddPlanInput
<div class="row">
    <div class="col-md-8 offset-md-2">

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Plan ekleme </h5>

                <form asp-controller="Plans" asp-action="AddPlan" method="post" enctype="multipart/form-data">
                   <div asp-validation-summary="ModelOnly"></div>

                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label" asp-for="PlanStatusId"></label>
                        <select asp-for="PlanStatusId" class="form-control" asp-items="@ViewBag.planStatus">
                            <option value="">(Günlük,Haftalık,Aylık) Durum seçiniz</option>
                        </select>
                         <span class="text-danger" asp-validation-for="PlanStatusId"></span>
                       
                    </div>

                    <div class="mb-3">
                        <label asp-for="Day" class="form-label"></label>
                        <input asp-for="Day" class="form-control" />
                        <span class="text-danger" asp-validation-for="Day"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Comment" class="form-label"></label>
                        <input asp-for="Comment" class="form-control" />
                        <span class="text-danger" asp-validation-for="Comment"></span>
                    </div>


                   
                    <button type="submit" class="btn btn-primary">Plan Kaydet</button>
                </form>
            </div>
        </div>
    </div>
</div>

